.productFilter{
    margin: 20px;
    border-radius: 5px;
    display: flex;
    min-width: 400px;
    flex-direction: column;
    height: fit-content;
    gap: 20px;
    padding: 20px;
    color: white;
    background-color: #666;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.priceLabel{
    display: flex;
    justify-content: space-between;
}

.priceLabel p{
    display: flex;
    align-items: center;
    font-size: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.filterSpan{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filterSpan p{
    font-weight: lighter;
}

.button{
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: #008bc2;
    border: none;
    width: fit-content;
    color: white;
}

.button:focus{
    outline: none;
}

.button:hover{
    background-color: #008bc2;
    color: white;
}

@media screen and (max-width: 1000px) {
    .productFilter{
        min-width: 90vw;
    }

.select{
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #008bc2;
}

.select:focus{
    outline: none;
}

.select option{
    padding: 5px;
}



}