.homePage{
    justify-self: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 100px);
    align-items: start;
}



.heroPresentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    padding: 20px;
    background-color: #111;
    color: white;
    height: 100%;
    width: 100%;
}

.heroPresentation h1{
    font-size: 2.5rem;
}


.owners{
    gap: 50px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.ownerInfo{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    justify-content: center;
}

.ownerInfo p{
  color: white;
}

.ownerInfo h3{
    color: lightskyblue;
}

.owners img{
    width: 220px;
    height: 220px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.owners::-webkit-scrollbar{
    background-color: #333;
    width: 10px;
}

.owners::-webkit-scrollbar-thumb{
    background-color: lightskyblue;
}


.storeImage{
    flex-direction: column;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    & a{
        text-decoration: none;
        color: lightblue;
    }
}

.storeImage h2{
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

 

@media screen and (max-width: 600px) {

    .homePage{
        flex-direction: column;
        height: 100%;
    }

    .hero{
        height: 100%
    }

    .heroPresentation{
        height: fit-content;
        width: 100%;
    }

    .heroPresentation h1{
        font-size: 2rem;
    }



    .ownerInfo{
        width: 100%;
        height: 100%;

    }

    .owners{
        width: 100%;
        gap:0;
        height: fit-content;
        flex-direction: column;
    }
}